<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー編集</title>
</head>
<body>
<div th:insert="~{common/sourceList :: sourceList}"></div>
<div th:replace="~{common/header :: header}"></div>
<div th:replace="~{common/messageIcon :: messageIcon}"></div>
<script type="text/javascript" th:src="@{/js/userList.js}"></script>
<div class="container-fluid">
	<div class="alert d-flex align-items-center mt-3" th:classappend="|${isError ? 'alert-danger' : 'alert-primary'}|" role="alert" th:if="${message != null}">
		<svg class="bi flex-shrink-0 me-2" width="24" height="24">
			<use xlink:href="#exclamation-triangle-fill" th:if="${isError}" />
			<use xlink:href="#info-fill" th:unless="${isError}"/>
		</svg>
		<span th:text="${message}"></span>
	</div>
	<h2 class="mt-3">ユーザー情報更新</h2>
	<form th:action="@{/userEdit}" method="post" th:object="${userEditForm}">
		<div class="mt-3">
				<table>
					<tr>
						<td><label for="loginId">ログインID：</label></td>
						<td>
							<div class="row g-3 align-items-center">
								<div class="col-auto">
									<span th:text="${userEditInfo.loginId}"></span>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><label for="loginId">ログイン失敗回数：</label></td>
						<td>
							<div class="row g-3 align-items-center">
								<div class="col-auto">
									<span th:text="${userEditInfo.loginFailureCount}"></span>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><label for="loginId">アカウントロック日時：</label></td>
						<td>
							<div class="row g-3 align-items-center">
								<div class="col-auto">
									<span th:text="${userEditInfo.accountLockedTime} != null ? ${#temporals.format(userEditInfo.accountLockedTime, 'yyyy-MM-dd HH:mm')} : '-'"></span>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" th:field="*{resetsLoginFailure}" id="resetsLoginFailure">
								<label class="form-check-label" for="resetsLoginFailure">ログイン失敗回数、アカウントロック日時をクリアする</label>
							</div>
						</td>
					</tr>
					<tr>
						<td><label for="userStatusKind">アカウント状態：</label></td>
						<td>
							<select class="form-select" th:field="*{userStatusKind}">
								<option th:each="userStatusKindOption : ${userStatusKindOptions}"
									th:value="${userStatusKindOption}" th:text="${userStatusKindOption.displayValue}"></option>
							</select>
						</td>
					</tr>
					<tr>
						<td><label for="authorityKind">所有権限：</label></td>
						<td>
							<select class="form-select" th:field="*{authorityKind}">
								<option th:each="authorityKindOption : ${authorityKindOptions}"
									th:value="${authorityKindOption}" th:text="${authorityKindOption.displayValue}"></option>
							</select>
						</td>
					</tr>
				</table>
				<div class="mt-3">
					<input type="submit" class="btn btn-primary" name="update" value="更新">
					<a class="btn btn-secondary" th:href="@{/userList}">戻る</a>
				</div>
		</div>
	</form>
</div>
</html>